/* General */
*{
    margin:0;
    padding:0;
}
img{
    width:100%;
    height:100%;
}
/* Header */
.header{
    display: flex;
    height: 15rem;
    justify-content: space-between;
    margin: 0 3rem;
    align-items: center;
}
h1.header__title{
    display: flex;
    align-items: center;
}
.wrapper__image{
    width: 65px;
   
}
.group__books__row {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 2rem 3rem;
    position: relative;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}
.addBook{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    outline: transparent;
    cursor: pointer;
    font-size: xx-large;
   
}
.modale{
    background-color: rgba(0, 0, 0, .5);
    height: 36.1rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
}
.background__model{
    align-items: center;
    background-color: #fff;
    height: 25rem;
    border-radius: 5px;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background__model input{
    display: block;
    width: 70%;
    height: 3rem;
    border: none;
    border: 1px solid #dbdbdb;
    margin: .5rem 0;
    padding: 0 1rem;
    border-radius: 2px;
    
}
button.add{
    width: 75%;
    padding: 1rem;
    cursor: pointer;
}
button.close{
    position: absolute;
    top: 6.5rem;
    right: 22rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}
.box__info .key__info h3 .circle.notreade{
    background:linear-gradient(135deg, #9e9e9e 0%, #607d8b 100%);
}
/* Main */
